{% for message in app.flashes('error') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endfor %}
<div class="container" style="max-width: 40rem">
    <h1> {{ title }} </h1>
    <div class="form">
        {{ form(formulaire) }}
    </div>
</div>
<script>
    const identification = document.getElementById('animal_identification');
    const dateArrivee = document.getElementById('animal_dateArrivee');
    const dateDepart = document.getElementById('animal_dateDepart');
    const dateNaissance = document.getElementById('animal_dateNaissance');
    const animalSexe = document.getElementById('animal_sexe');
    const animalSterile = document.getElementById('animal_sterile').parentElement;


    dateNaissance.addEventListener('change', function () {
        dateArrivee.min = dateNaissance.value;
        if (dateArrivee.value < dateNaissance.value) {
            dateArrivee.value = dateNaissance.value;
            dateDepart.min = dateNaissance.value;
            if (dateDepart.value < dateNaissance.value) {
                dateDepart.value = dateNaissance.value;
            }
        }
        if (dateNaissance.value === '') {
            dateArrivee.min = '';
        }
        dateNaissance.required = dateNaissance.value !== '';
    });

    dateArrivee.addEventListener('change', function () {
        dateDepart.min = dateArrivee.value;
        if (dateDepart.value < dateArrivee.value && dateDepart.value !== '') {
            dateDepart.value = dateArrivee.value;
        }
    });

    dateDepart.addEventListener('change', function () {
        dateDepart.required = dateDepart.value !== '';
    });

    animalSexe.addEventListener('change', function () {
        displaySterile();
    });

    function displaySterile() {
        animalSterile.style.display = animalSexe.value === "2" ? 'none' : 'block';
    }

    displaySterile();

    identification.addEventListener('keypress', function (e) {
        if ((e.key < '0' || e.key > '9') && e.key !== 'Enter') {
            e.preventDefault();
        }
    });

    identification.addEventListener('change', function () {
        identification.value = identification.value.padStart(14, '0');
    });



</script>