{% extends 'base.html.twig' %}

{% block title %}Supprimer l'animal{% endblock %}

{% block body %}
    <div class="container">
        <h1>Êtes-vous sûr de vouloir supprimer l'animal <i>{{ animal.identifiant }}</i></h1>
        {{ form(formulaire) }}
        <a href="{{ path("liste_animaux", {"id":animal.id})}}" class="btn btn-secondary">Annuler</a>
    </div>
{% endblock %}
