<tr>
    <td>{{ enc.espace.getNom() }}</td>
    <td>{{ enc.nom }}</td>
    <td>{{ enc.superficie }}</td>
    <td>??? / {{ enc.nbAnimauxMax }}</td>
    <td class="text-end">
        <div class="btn-group">
        </div>
    </td>
</tr>